<div class="row">
  <div class="col-md-6">
    <h3>Día 1 - Uso de la shell de SQLite</h3>
    <p>Lunes, 13 de diciembre 2021</p>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="{{ page.root }}{% link setup.md %}">Configuración</a></td> </tr>
      <tr> <td>18:15</td>  <td><a href="{{ page.root }}{% link _episodes/01-sqlite3.md %}">Familiarización con la shell SQLite</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Entrar a la shell de SQLite</td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;2.- Ver las tablas que hay en una base de datos. </td> </tr>
      <tr> <td>19:30</td>  <td><a href="{{ page.root }}{% link _episodes/01.1-sqlite3.md %}">Nuestra primera base de datos</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Cómo ejecutar un script de SQL. </td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;2.- Cómo guardar los resultados en un fichero. </td> </tr>
      <tr> <td>20:59</td>  <td>FIN</td> </tr>
	  
    </table>
  </div>
    <div class="col-md-6">
    <h3>Día 2 - Manipulación de datos y transacciones</h3>
    <p>Martes, 14 de diciembre 2021</p>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="{{ page.root }}{% link _episodes/02-transacciones.md %}">Manipulación de datos</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Claves únicas</td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Claves externas</td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;2.- Insercción de datos biológicos de <a href="http://www.uniprot.org/uniprot/?query=*&random=yes" target="_blank">UniProt</a></td> </tr>
      <tr> <td>20:15</td>  <td><a href="{{ page.root }}{% link _episodes/02.1-transacciones.md %}">Transacciones</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;3.- Uso de las transacciones</td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;4.- BEGIN; ROLLBACK; COMMIT</td> </tr>
      <!-- <tr> <td>19:45</td>  <td><a href="/03-DBI-I/index.html">Introducción a la programacion en Python para SQL</a></td> </tr> -->
      <tr> <td>20:59</td>  <td>FIN</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Día 3 - Acceso programático y consultas de agregación</h3>
    <p>Miercoles, 15 de diciembre 2021</p>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="{{ page.root }}{% link _episodes/03-DBI.md %}">Acceso programático en Python.</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Insercción de organismos completos. </td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;2.- Recuperación de datos mediante python. </td> </tr>
      <tr> <td>19:30</td>  <td><a href="/05-agregacion-I/index.html">Consultas de agregación I</a></td> </tr>
      <tr> <td>20:59</td>  <td>FIN</td> </tr>
	  
    </table>
  </div>
    <div class="col-md-6">
    <h3>Día 4 - Creación de un script desde cero</h3>
    <p>Jueves, 16 de diciembre 2021</p>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="{{ page.root }}{% link _episodes/04-Clinvar.md %}">Creación de tablas para ClinVar</a></td> </tr>
      <tr> <td>19:30</td>  <td><a href="{{ page.root }}{% link _episodes/04-Clinvar.md %}">Nuevas tablas</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Inserción de datos nuevas tablas a un base de datos existente.</td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;2.- Creación de referencias entre tablas.</td> </tr>
      <tr> <td>20:59</td>  <td>FIN</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <h3>Día 5 - Creación de un script desde cero</h3>
    <p>Vierenes, 17 de diciembre 2021</p>
    <table class="table table-striped">
      <tr> <td>18:00</td>  <td><a href="/05-Python/index.html">Programación en Python</a></td> </tr>
      <tr> <td></td>  <td>&nbsp;&nbsp;1.- Creación de un script de python desde 0.</td> </tr>  
      <tr> <td>19:00</td>  <td>&nbsp;&nbsp;1.- Dudas y preguntas</td> </tr>
      <tr> <td>20:00</td>  <td>&nbsp;&nbsp;2.- Presentación del trabajo de la asignatura</td> </tr>
      <tr> <td>20:59</td>  <td>FIN</td> </tr>
    </table>
  </div>
    <div class="col-md-6">
    <table class="table table-striped">
		&nbsp;
    </table>
  </div>



</div>

